# Decision Tree & Random Forest Regression Exercise

![Namespace Labs](../../../../labs.png)

## [Restaurant Revenue Prediction](https://www.kaggle.com/c/rossmann-store-sales)

In [1]:
# Import pandas 
# Import Matplotlib
# Import numpy 
# Import seaborn
# Set the default seaborn style
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
sns.set()

In [2]:
# Read in train.csv
df = pd.read_csv('train.csv', low_memory=False)

In [3]:
# Display the head of train.csv
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
df.shape

(1017209, 9)

In [5]:
# Import store.csv
df_store = pd.read_csv('store.csv')

In [6]:
# Display the head of store.csv
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [7]:
df_store.shape

(1115, 10)

In [8]:
# merge store and train
# call the merged dataframe final
final = pd.merge(df, df_store, on='Store')

In [9]:
final.shape

(1017209, 18)

In [10]:
# Display the head of the merged file
final.tail()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
1017204,1115,6,2013-01-05,4771,339,1,0,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017205,1115,5,2013-01-04,4540,326,1,0,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017206,1115,4,2013-01-03,4297,300,1,0,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017207,1115,3,2013-01-02,3697,305,1,0,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [12]:
# Show the info of the merged file
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1014567 non-null  float64
 12  CompetitionOpenSinceMonth  693861 non-null   float64
 13  CompetitionOpenSinceYear   693861 non-null   float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            509178 non-null   float64
 16  Promo2SinceYear            509178 non-null   float64
 17  PromoInterval              509178 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB

In [13]:
final.CompetitionDistance.value_counts()

250.0      11120
350.0       7536
50.0        7536
1200.0      7374
190.0       7352
           ...
3920.0       758
4460.0       758
13090.0      758
5890.0       758
12870.0      758
Name: CompetitionDistance, Length: 654, dtype: int64

In [14]:
min, max, median, mean = final.CompetitionDistance.min(), final.CompetitionDistance.max(), final.CompetitionDistance.median(),final.CompetitionDistance.mean()
min,max, median, mean

(20.0, 75860.0, 2330.0, 5430.085652302903)

In [15]:
# Fill the null values in CompetitionDistance
final.CompetitionDistance = final.CompetitionDistance.fillna(final.CompetitionDistance.median)

In [16]:
# Fill the null values in CompetitionDistance
final.isna().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance               0
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

In [17]:
# SHow the unique categories in the StateHoliday column
# Display it as a list
print(list(final.StateHoliday.unique()))
print(final.StateHoliday.value_counts().index)

['0', 'a', 'b', 'c']
Index(['0', 'a', 'b', 'c'], dtype='object')

In [18]:
# create a variable called cats
# It should contain 'StateHoliday','StoreType', and 'Assortment'
cats = ['StateHoliday','StoreType','Assortment']

In [19]:
# Convert StateHoliday to a Categorical Data Type
final[cats].dtypes

StateHoliday    object
StoreType       object
Assortment      object
dtype: object

In [20]:
# Convert StoreType to a Categorical Data Type

In [21]:
# Convert Assortment to a Categorical Data Type

In [22]:
# Create a dataframe called sales_df from the final dataframe
# It should contain the cats stored as dummy variables
sales_df = pd.get_dummies(final, columns=cats, drop_first=True)

In [23]:
# Check the head of the sales_df
sales_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,...,Promo2SinceYear,PromoInterval,StateHoliday_a,StateHoliday_b,StateHoliday_c,StoreType_b,StoreType_c,StoreType_d,Assortment_b,Assortment_c
0,1,5,2015-07-31,5263,555,1,1,1,1270.0,9.0,...,NaN,NaN,0,0,0,0,1,0,0,0
1,1,4,2015-07-30,5020,546,1,1,1,1270.0,9.0,...,NaN,NaN,0,0,0,0,1,0,0,0
2,1,3,2015-07-29,4782,523,1,1,1,1270.0,9.0,...,NaN,NaN,0,0,0,0,1,0,0,0
3,1,2,2015-07-28,5011,560,1,1,1,1270.0,9.0,...,NaN,NaN,0,0,0,0,1,0,0,0
4,1,1,2015-07-27,6102,612,1,1,1,1270.0,9.0,...,NaN,NaN,0,0,0,0,1,0,0,0

In [24]:
sales_df.shape

(1017209, 23)

In [63]:
X.columns[X.dtypes == 'object']

Index(['Date', 'CompetitionDistance', 'PromoInterval'], dtype='object')

In [65]:
X.Date.head()

0    2015-07-31
1    2015-07-30
2    2015-07-29
3    2015-07-28
4    2015-07-27
Name: Date, dtype: object

In [97]:
#pd.to_numeric(X.CompetitionDistance)
#X.CompetitionDistance[1017206]
X.CompetitionDistance = pd.to_numeric(X.CompetitionDistance, errors='coerce')

In [100]:
X.CompetitionDistance.mean(), X.CompetitionDistance.median()

(5430.085652302903, 2330.0)

In [74]:
X.PromoInterval.value_counts()

Jan,Apr,Jul,Oct     293122
Feb,May,Aug,Nov     118596
Mar,Jun,Sept,Dec     97460
Name: PromoInterval, dtype: int64

In [75]:
X.PromoInterval.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: PromoInterval, dtype: object

In [78]:
X.PromoInterval = X.PromoInterval.map({'Jan,Apr,Jul,Oct':0, 'Feb,May,Aug,Nov':1,'Mar,Jun,Sept,Dec':2, np.nan:3})

In [80]:
X.PromoInterval.value_counts()

3    508031
0    293122
1    118596
2     97460
Name: PromoInterval, dtype: int64

In [25]:
# Create X and y variables
X = sales_df.drop(['Sales'], axis=1)
y = sales_df.Sales

In [55]:
# Import DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor

In [56]:
# Create an instance of DecisionTreeRegressor
tree = DecisionTreeRegressor(random_state=42)

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
# Fit the tree to X and y
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [59]:
tree.fit(X_train, y_train)

ValueError: could not convert string to float: '2015-03-03'

In [29]:
# Score the model

In [30]:
# Import RandomForestRegressor

In [31]:
# Create an instance of RandomForestRegressor
# Use Random State of 42
# Set the model to use all available CPUs

In [32]:
# Fit the model to X and y

In [33]:
# Score the Random Forest Model

In [34]:
# Create a dataframe containing the feature importances

In [35]:
# PLot the feature importances

In [36]:
# Import test.csv

In [37]:
# Show the info of test.csv

In [38]:
# Merge test and store

In [39]:
# Check the head of the merged file

In [40]:
# Check of the merged file

In [41]:
# Print a summary of the merged dataframe

In [42]:
# Fill the CompetitionDistance in the merged dataframe

In [43]:
# Fill Open in the merged dataframe

In [44]:
# Convert Assortment to categorical data in the merged file

In [45]:
# Convert StateHoliday to categorical data in the merged file

In [46]:
# Convert Assortment to categorical data in the merged file

In [47]:
# create a dataframe called test_df
# It should contain the merged test dataframe with dummy variables

In [48]:
# Create test_X contain the test variables

In [49]:
# Print the colums in the training set

In [50]:
# Print the columns in the # Print the colums in the training set

In [51]:
# Create a variable called test_predictions
# It should contain the pedictions done on the test set

In [52]:
# Print test_predictions

In [53]:
# Create a dataframe containing the test predictions
# Display its head

In [54]:
# Add the Ids from the test set to the dataframe
# Show the head

Save the predictions as csv file called submission.csv. Upload the file to [Kaggle for scoring](https://www.kaggle.com/c/rossmann-store-sales/submissions).

The goal here wasn't to build a winning Kaggle model,the goal was to show you how to create a model and  upload it successfully to kaggle!

![submission Screenshot](submit.png)

Happy Coding!